.footer {
  &__container {
  }
  &__top {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("margin-bottom", 160, 0);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 22, 16);

    align-items: flex-start;
  }
  &__logo {
    font-size: rem(16);
  }
  &__adress {
    line-height: em(24, 16);
  }
  &__email {
    line-height: em(24, 16);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowCoolor;
      }
    }
  }
  &__phone {
    margin-top: rem(-22);
    line-height: em(24, 16);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowCoolor;
      }
    }
  }
  &__facebook {
    flex: 0 1 24px;
    path {
      transition: all 0.3s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover {
        path {
          fill: blue;
        }
      }
    }
  }

  &__content {
    @include adaptiveValue("padding-top", 10, 25);
    //  padding: rem(10) 0px 0px 0px;
  }

  .content-footer {
    &__title {
      color: #212b31;
      line-height: em(24, 16);

      // padding: 0px 0px rem(22) 0px;
      // @include adaptiveValue("padding-bottom", 22, 10);
      @media (min-width: $mobile) {
        padding: 0px 0px rem(22) 0px;
      }
      position: relative;
      transition: all 0.3s ease 0s;
      @media (max-width: $mobile) {
        &._spoller-active {
          margin: 0px 0px rem(15) 0px;
        }
        &._spoller-active::after {
          transform: rotate(90deg);
        }
        &::after {
          content: url("@img/icons/arrow.svg");
          position: absolute;
          top: 0;
          left: 95%;
          transform: rotate(-90deg);
          transition: all 0.3s ease 0s;

          width: rem(13);
          height: rem(24);
          // margin: 0px 15px 0px 0px;
          // width: 100%;
        }
      }
    }

    &__list {
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
    &__link {
      font-size: rem(15);
      line-height: em(24, 15);
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $yellowCoolor;
        }
      }
    }
  }

  &__bottom {
    line-height: em(24, 15);
    padding: rem(30) 0px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      padding: rem(15) 0px;
      font-size: rem(12);
      align-items: center;
    }
  }
  &__copyright {
    @media (max-width: $mobile) {
      margin: 0px 0px rem(15) 0px;
    }
  }
  &__policy {
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowCoolor;
      }
    }
  }
}
